<div class="row">
    <div class="col-md-4">
        <div class="panel panel-info">
            <div class="panel-heading">
                Coil Summary: Accepted v/s Rejected
            </div>
            <div class="panel-body">
                <nvd3 options="$ctrl.chartOptions" data="$ctrl.summaryData.summary1"></nvd3>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-info">
            <div class="panel-heading">
                Coil Summary: Reject Reasons
            </div>
            <div class="panel-body">
                <nvd3 options="$ctrl.chartOptionsRejectReason"
                      data="$ctrl.summaryData.rejectReason"></nvd3>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-info">
            <div class="panel-heading">
                Coil Summary: Good v/s Non Standard v/s Web Breaks
            </div>
            <div class="panel-body">
                <nvd3 options="$ctrl.chartOptions" data="$ctrl.summaryData.summary2"></nvd3>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <detail details="$ctrl.summaryData.details"
                coil-type="$ctrl.coilType"
                ng-if="$ctrl.coilType != null"
                total="$ctrl.summary1[$ctrl.coilType]"></detail>
    </div>
</div>
