<div class="row">
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">Coil Summary</div>
            <div class="panel-body">
                <div class="bg-info row" style="margin:0px"><div class="col-md-12">Accepted V/S Rejected</div></div>
                <nvd3 options="$ctrl.chartOptions" data="$ctrl.summaryData.summary1"></nvd3>
                <div class="bg-info row" style="margin:0px"><div class="col-md-12">Good V/S Non Standard V/S Web Breaks</div></div>
                <nvd3 options="$ctrl.chartOptions" data="$ctrl.summaryData.summary2"></nvd3>
            </div>
        </div>
    </div>
    <div class="col-md-8">
       <detail  details="$ctrl.summaryData.details"
                coil-type="$ctrl.coilType"
                ng-if="$ctrl.coilType != null"
                total="$ctrl.summary1[$ctrl.coilType]"></detail>
    </div>
</div>

