<div class="panel panel-info">
    <div class="panel-heading">Data Filters</div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-2" ng-repeat="filter in $ctrl.insightFilters" ng-if="idx != 'Select Period'">
                {{filter.key}}:
                <select ng-model="$ctrl[filter.key]" class="small-font">
                    <option value="{{null}}">Select {{filter.key}}</option>
                    <option ng-repeat="item in filter.value" value="{{item}}">{{item}}</option>
                </select>
            </div>
            <div class="col-md-3">
                Select Period:
                <select  class="small-font" ng-model="$ctrl.dateFrom">
                    <option ng-repeat="period in $ctrl.filters.period" value="{{period.key}}">{{period.value}}</option>
                </select>
                To
                <select class="small-font" ng-model="$ctrl.dateTo">
                    <option ng-repeat="period in $ctrl.filters.period" value="{{period.key}}">{{period.value}}</option>
                </select>
            </div>
        </div>
    </div>
</div>
<div class="panel panel-info">
<div class="panel-heading">
    <div class="row">
        <div class="col-md-5">
            Insights – Top ML Factors
        </div>
        <div class="col-md-7">
            <div class="pull-right">
                <span class="form-group">
                    <label>Select Factor:</label>
                    <select ng-model="$ctrl.factorId" ng-change="$ctrl.$changeFactor()">
                        <option ng-repeat="(idx, item) in $ctrl.factors" value="{{idx}}">Rank {{item.rank}} - {{item.value}}</option>
                    </select>
                </span>
                <span ng-if="$ctrl.currentPage > 0"ng-click="$ctrl.$onPrev()" style="cursor: pointer; margin-right: 10px"><span class="glyphicon glyphicon-arrow-left"></span>Prev</span>
                <span>
                    Showing Rank
                    {{($ctrl.currentPage * $ctrl.pageSize) + 1}}
                    to
                    {{($ctrl.currentPage * $ctrl.pageSize) + $ctrl.pageSize > $ctrl.factors.length ? $ctrl.factors.length : ($ctrl.currentPage * $ctrl.pageSize) + $ctrl.pageSize}}
                    of {{$ctrl.factors.length}}</span>
                <span ng-click="$ctrl.$onNext()" ng-if="($ctrl.currentPage * $ctrl.pageSize) + $ctrl.pageSize < $ctrl.factors.length" style="cursor: pointer; margin-left: 10px">Next<span class="glyphicon glyphicon-arrow-right"></span></span>
            </div>
        </div>
    </div>
</div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-2">
                <div class="form-group">
                    <label>Plant :</label>
                    {{$ctrl.plantLabel}}
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <label>Mill : </label>
                    {{$ctrl.millLabel}}
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <label>Target Gauge : </label>
                    {{$ctrl.gauge}}
                </div>
            </div>

        </div>
        <insight-detail factors="$ctrl.pageFactors"
                        caster="$ctrl.Caster"
                        oven="$ctrl.Oven"
                        workrolls="$ctrl.WorkRolls"
                        alloy="$ctrl.Alloy"
                        period="$ctrl.period"
                        date-from = "$ctrl.dateFrom"
                        date-to = "$ctrl.dateTo"
                        ></insight-detail>
    </div>
</div>