<div class="panel panel-info">
    <div class="panel-heading">Data Filters</div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-2" ng-repeat="filter in $ctrl.insightFilters" ng-if="idx != 'Select Period'">
                {{filter.key}}:
                <select ng-model="$ctrl[filter.key]" class="small-font">
                    <option value="{{null}}">Select {{filter.key}}</option>
                    <option ng-repeat="item in filter.value" value="{{item}}">{{item}}</option>
                </select>
            </div>
            <div class="col-md-3">
                Select Period:
                <select  class="small-font" ng-model="$ctrl.dateFrom">
                    <option ng-repeat="period in $ctrl.filters.period" value="{{period.key}}">{{period.value}}</option>
                </select>
                To
                <select class="small-font" ng-model="$ctrl.dateTo">
                    <option ng-repeat="period in $ctrl.filters.period" value="{{period.key}}">{{period.value}}</option>
                </select>
            </div>
        </div>
    </div>
</div>
<div class="panel panel-info">
<div class="panel-heading">Insights – Top ML Factors</div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-2">
                <div class="form-group">
                    <label>Plant :</label>
                    {{$ctrl.plantLabel}}
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <label>Mill : </label>
                    {{$ctrl.millLabel}}
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <label>Target Gauge : </label>
                    {{$ctrl.gauge}}
                </div>
            </div>

        </div>
        <insight-detail factors="$ctrl.factors"
                        caster="$ctrl.Caster"
                        oven="$ctrl.Oven"
                        workrolls="$ctrl.WorkRolls"
                        alloy="$ctrl.Alloy"
                        period="$ctrl.period"
                        date-from = "$ctrl.dateFrom"
                        date-to = "$ctrl.dateTo"
                        ></insight-detail>
    </div>
</div>