<div class="panel panel-warning" ng-repeat="factor in $ctrl.factors">
    <div class="panel-heading">
        <span class="label label-danger">Rank : {{factor.rank}}</span>
        {{factor.value}}
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-6" ng-repeat="item in $ctrl.Clusters.list" style="min-height: 340px;">
                <factor-mill-speed caster="$ctrl.caster"
                                   oven="$ctrl.oven"
                                   workrolls="$ctrl.workrolls"
                                   alloy="$ctrl.alloy"
                                   period="$ctrl.period"
                                   factor-key="factor.key"
                                   deviation="item"
                                   date-from = "$ctrl.dateFrom"
                                   date-to = "$ctrl.dateTo"
                                   mltitle="'Coils with Mill Speed Deviation  - ' + item.name"></factor-mill-speed>
            </div>
        </div>
    </div>
</div>
