<div ng-repeat="factor in $ctrl.factors">
        <div class="row"  style="min-height: 340px;">
            <div class="col-md-12">
                <factor-mill-speed caster="$ctrl.caster"
                                   oven="$ctrl.oven"
                                   workrolls="$ctrl.workrolls"
                                   alloy="$ctrl.alloy"
                                   period="$ctrl.period"
                                   factor-key="factor.key"
                                   deviation="item"
                                   date-from = "$ctrl.dateFrom"
                                   date-to = "$ctrl.dateTo"
                                   rank = "factor.rank"
                                   factor = "factor.value"
                                   default-options = "$ctrl.defaultScatterOptions"
                                   mltitle=""></factor-mill-speed>
            </div>
        </div>
</div>
