<div class="panel panel-success">
    <div class="panel-heading">Rank : {{$ctrl.rank}} - {{$ctrl.factor}}
        vs Speed Deviation</div>
    <div  class="panel-body" style="min-height: 500px">
        <ul class="nav nav-tabs" style="maring-top:10px;">
            <li>
                <a ng-click="$ctrl.detailType = 'topfactor'"
                   ng-class="['btn',{'btn-success' : $ctrl.detailType == 'topfactor'},{'btn-default' : $ctrl.detailType != 'topfactor'}]">
                    Actual
                </a>
            </li>
            <li>
                <a ng-click="$ctrl.detailType = 'prediction'"
                   ng-class="['btn',{'btn-success' : $ctrl.detailType == 'prediction'},{'btn-default' : $ctrl.detailType !== 'prediction'}]">
                    Prediction
                </a>
            </li>
        </ul>
        <div class="loading" ng-if="$ctrl.data.length <= 0 && $ctrl.detailType == 'topfactor'"></div>
        <div class="loading" ng-if="$ctrl.predData.length <= 0 && $ctrl.detailType == 'prediction'"></div>
        <div class="row" ng-if="$ctrl.detailType == 'topfactor'">
            <div class="col-md-12 hide-grid-y">
                <factor-chart caster="$ctrl.caster"
                              oven="$ctrl.oven"
                              workrolls="$ctrl.workrolls"
                              alloy="$ctrl.alloy"
                              period="$ctrl.period"
                              chart-options="$ctrl.chartOptions"
                              chart-data="$ctrl.data"
                              group-by="$ctrl.groupFactor"
                              factor="$ctrl.factor"
                              max="$ctrl.max"
                              min="$ctrl.min"
                              date-from="$ctrl.dateFrom"
                              date-to="$ctrl.dateTo"
                              default-options="$ctrl.defaultOptions"
                              ng-if="$ctrl.data.length > 0"></factor-chart>
            </div>
        </div>
        <div class="row" ng-if="$ctrl.detailType == 'prediction'">
            <div class="col-md-12 hide-grid-y">
                <factor-prediction
                        default-options="$ctrl.defaultOptions"
                              chart-data="$ctrl.predData"
                              factor="$ctrl.factor"></factor-prediction>
            </div>
        </div>
    </div>
</div>

