<div class="panel panel-success">
    <div class="panel-heading">Rank : {{$ctrl.rank}} - {{$ctrl.factor}}
        vs Speed Deviation</div>
    <div  class="panel-body" style="min-height: 500px">
        <div class="loading" ng-if="$ctrl.data.length <= 0"></div>
        <div class="row" ng-if="false">
            <div class="col-md-6">
                <label>Group By:</label>
                <select ng-model="$ctrl.groupFactor" style="font-size:0.8em;width:200px" disabled>
                    <option value="group1">Accepted Vs Rejected (with Reason)</option>
                    <option value="group2">Good Vs Non Standard Vs Web Breaks</option>
                </select>
            </div>
            <div class="col-md-2" ng-if="$ctrl.chartOptions.threshold">
                <div class="form-group">
                    <label>Min:</label>
                    <input type="number" style="font-size:0.8em;width:40px" ng-model="$ctrl.minThreshold"/>
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group" ng-if="$ctrl.chartOptions.threshold" >
                    <label>Max:</label>
                    <input type="number" style="font-size:0.8em; width:40px" ng-model="$ctrl.maxThreshold"/>
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group" ng-if="$ctrl.chartOptions.threshold" >
                    <button class="btn-xs" ng-click="$ctrl.$plotMaxMin()">Go</button>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 hide-grid-y">
                <factor-chart caster="$ctrl.caster"
                              oven="$ctrl.oven"
                              workrolls="$ctrl.workrolls"
                              alloy="$ctrl.alloy"
                              period="$ctrl.period"
                              chart-options="$ctrl.chartOptions"
                              chart-data="$ctrl.data"
                              group-by="$ctrl.groupFactor"
                              factor="$ctrl.factor"
                              max="$ctrl.max"
                              min="$ctrl.min"
                              date-from="$ctrl.dateFrom"
                              date-to="$ctrl.dateTo"
                              ng-if="$ctrl.data.length > 0"></factor-chart>
            </div>
        </div>
    </div>
</div>

