<div class="container-fluid" style="padding-top:18px">
    <a class="logo" href="#"><img src="./img/reynolds-logo.png"/></a>
    <ul class="nav nav-tabs">
        <li><a ui-sref="home" class="btn {{$ctrl.$state.$current.name == 'home' || $ctrl.$state.$current.name == 'detail'? 'btn-success' : ''}}">
            Summary
        </a></li>
        <li>
            <a ui-sref="searchncompare" class="btn {{$ctrl.$state.$current.name == 'searchncompare' || $ctrl.$state.$current.name == 'insights' ? 'btn-success' : ''}}">
                Mill Speed Deviation
            </a>
        </li>
    </ul>
    <ui-view></ui-view>
</div>
